<div class="ferret">
  <div class="col-md-8 offset-md-2">
    <div class="ferret--top">
      <div class="ferret--image">
        <% if ferret.image.attached? %>
          <%= image_tag ferret.image, size:"350x350", class:"image-square" %>
        <% else %>
          <%= image_tag "/images/no_image.jpg", size:"350x350", class:"image-square" %>
        <% end %>
      </div>
      <div class="ferret--actions">
        <% if logged_in? %>
          <% if ferret.owned_by?(current_user) %>
            <div class="ferret--links">
              <div class="ferret--edit">
                <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(ferret)  %>
              </div>
              <div class="ferret--delete">
                <%= render "components/delete-btn/delete-btn", path: ferret_path(ferret)  %>
              </div>
            </div>
          <% else %>
            <div class="ferret--message">
              <%= link_to "飼い主にメッセージを送る", rooms_path(guest_id: ferret.user.id), method: :post, class:"link-btn" %>
            </div>
            <div class="ferret--follow">
              <%= render "components/follow/follow", user: ferret.user %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="ferret--info">
      <div class="ferret--name">
        <h2><%= ferret.name %></h2>
      </div>
      <div class="ferret--details">
        <%= display_basic_info(ferret) %>
      </div>
    </div>

    <div class="ferret--introduction">
      <h5>紹介</h5>
      <p><%= ferret.introduction %></p>
    </div>

    <div class="ferret--character">
      <h5>性格</h5>
      <p><%= ferret.character %></p>
    </div>

    <div class="ferret--family">
      <div class="ferret--owner">
        <h5>親</h5>
        <div class="ferret--owner-icon">
          <%= link_to user_path(ferret.user_id) do %>
            <% if ferret.user.image.attached? %>
              <%= image_tag ferret.user.image, size:"100x100", class:"image-icon" %>
            <% else %>
              <%= image_tag "/images/no_image.jpg", size:"100x100", class:"image-icon" %>
            <% end %>
            <p class="ferret--family-name">
              <%= ferret.user.name %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="ferret--siblings">
        <h5>兄弟・姉妹</h5>
        <div class="ferret--sibling">
          <% unless siblings.empty? %>
            <% siblings.each do |s| %>
              <div class="ferret--sibling-icon">
                <%= link_to ferret_path(s) do %>
                  <% if s.image.attached? %>
                    <%= image_tag s.image, size:"100x80", class:"image-icon" %>
                  <% else %>
                    <%= image_tag "/images/no_image.jpg", size:"100x100", class:"image-icon" %>
                  <% end %>
                  <p class="ferret--family-name">
                    <%= display_name(s) %>
                  </p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>兄弟は登録されていません。</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ferret--record">
      <h5>お世話の経験</h5>
      <% if ferret.user.has_contracts_as_owner? %>
        <% ferret.user.contracts_as_owner.each.with_index(1) do |contract, i| %>
          <div class="ferret--record">
            <p>お世話記録その<%= i %></p>
            <p class="ferret--period">期間：<%= display_period(contract) %></p>
            <p>お世話したしてくれたユーザー</p>
            <div class="ferret--contract-sitter">
              <div class="ferret--contract-sitter-icon">
                <%= link_to user_path(contract.sitter) do %>
                  <% if contract.sitter.image.attached? %>
                    <%= image_tag contract.sitter.image, size:"100x100", class:"image-icon" %>
                  <% else %>
                    <%= image_tag "/images/no_image.jpg", size:"100x100", class:"image-icon" %>
                  <% end %>
                <% end %>
              </div>
              <div class="ferret--contract-sitter-info">
                <%= link_to user_path(contract.sitter) do %>
                  <%= contract.sitter.name %><br>
                <% end %>
                <%= display_basic_info(contract.sitter) %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>まだお世話の履歴はありません。</p>
      <% end %>
    </div>

  </div>
  <div class="ferret--posts">
    <div class="col-md-8 offset-md-2">
      <h5>親の投稿</h5>
    </div>
    <%= render partial:"components/post-overview/post-overview",
               collection: ferret.user.posts, as: "post" %>
  </div>
</div>
