<% if my_ferret?(ferret) %>
  <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(ferret)  %>
  <%= render "components/delete-btn/delete-btn", path: ferret_path(ferret)  %>
<% end %>

<div class="f-show col-md-8 offset-md-2">
  <div class="f-show--top">
    <%= render "components/show-top/show-top", object: ferret %>
  </div>

  <div class="f-show--character">
      <h5>性格</h5>
      <p><%= ferret.character %></p>
  </div>

  <div class="f-show--family">
    <div class="f-show--owner">
      <h5>親</h5>
      <div class="f-show--owner-icon">
        <%= link_to user_path(ferret.user_id) do %>
          <% if ferret.user.image.attached? %>
            <%= image_tag ferret.user.image, size:"80x80", class:"image-icon" %>
          <% else %>
            <%= image_tag "/images/no_image.jpg", size:"80x80", class:"image-icon" %>
          <% end %>
          <p class="f-show--family-name">
            <%= display_name(ferret.user) %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="f-show--siblings">
      <h5>兄弟・姉妹</h5>
      <div class="f-show--sibling">
        <% siblings.each do |s| %>
        <div class="f-show--sibling-icon">
          <%= link_to ferret_path(s) do %>
            <% if s.image.attached? %>
              <%= image_tag s.image, size:"80x80", class:"image-icon" %>
            <% else %>
              <%= image_tag "/images/no_image.jpg", size:"80x80", class:"image-icon" %>
            <% end %>
            <p class="f-show--family-name">
              <%= display_name(s) %>
            </p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="show--post">
    <p>TO BE CREATED</p>
  </div>
</div>
