<div class="card--"> <!-- Bootstrap回避 -->
  <div class="card--image">
    <% if type == "users" %>
      <%= link_to user_path(object) do %>
        <% if object.image.attached? %>
          <%= image_tag object.image %>
        <% else %>
          <%= image_tag "/images/no_image.jpg" %>
        <% end %>
      <% end %>
    <% elsif type == "ferrets" %>
      <%= link_to ferret_path(object) do %>
        <% if object.image.attached? %>
          <%= image_tag object.image %>
        <% else %>
          <%= image_tag "/images/no_image.jpg" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="card--body">
    <h5 class="card--title"><%= object.name %></h5>
    <div class="card--info">
      <p>
        <%= display_basic_info(object) %>
      </p>
    </div>
    <div class="card--intro">
      <p><%= object.introduction %></p>
    </div>
  </div>
  <div class="card--actions">
    <% if type == "users" %>
      <div class="card--action">
        <%= link_to "詳細", user_path(object) %>
      </div>
      <div class="card--action">
        <%= render "components/follow/follow", user: object %>
      </div>
    <% elsif type == "ferrets" %>
      <div class="card--action">
        <%= link_to "詳細", ferret_path(object) %>
      </div>
      <div class="card--action">
        <%= link_to "親の情報", user_path(object.user) %>
      </div>
    <% end %>
  </div>
</div>
