<div class="card--"> <!-- Bootstrap回避 -->
  <div class="card--image">
    <%= image_tag "/images/#{object.image}", class:"card-img-top" %>
  </div>
  <div class="card--body">
    <h5 class="card--title"><%= display_name(object) %></h5>
    <div class="card--info">
      <p>
        <%= display_address(object) %>
        <span>|</span>
        <%= display_gender(object) %>
        <span>|</span>
        <%= display_age(object) %>
      </p>
    </div>
    <div class="card--intro">
      <p><%= object.introduction %></p>
    </div>
  </div>
  <div class="card--actions">
    <% if object.model_name.name == "User" %>
      <div class="card--action">
        <%= link_to "詳細", user_path(object) %>
      </div>
      <div class="card--action">
        <%= render "components/follow/follow", user: object %>
      </div>
    <% elsif object.model_name.name == "Ferret" %>
      <div class="card--action">
        <%= link_to "詳細", ferret_path(object) %>
      </div>
      <div class="card--action">
        <%= link_to "親の情報", user_path(object.user) %>
      </div>
    <% end %>
  </div>
</div>
