<div class="report-form">
  <div class="row">
    <div class="col-md-8  offset-md-2">
      <%= render "components/error-messages/error-messages", object: report %>
    </div>
  </div>

  <div class="col-md-8 offset-md-2">
    <%= form_with model: [:contract, report], local: true do |form| %>

      <div class="report-form--group form-row">
        <div class="form col-md-12">
          <div class="img-label">
            <%= form.label :画像, class:"label" %>
            <span class="asterisk">＊</span>
          </div>
          <div class="img-form">
            <%= render partial:"components/img-uploader/img-uploader",
                       locals: {form: form, object: report}
            %>
          </div>
        </div>
      </div>


      <div class="report-form--group form-row">
        <%= form.label :いつのレポート？, class:"label" %>
        <span class="asterisk">＊</span>
        <div>
          <%= form.date_select :date,
                                {
                                  start_year: report.contract.start_at.year,
                                  end_year: report.contract.end_at.year,
                                  use_month_numbers: true
                                },
                                {
                                  class: "form-control select"
                                }
          %>
        </div>
      </div>

      <div class="report-form--group form-row">
        <div class="form col-md-12">
          <%= form.label :レポート, class:"label" %>
          <%= form.text_area :content,
                              placeholder: "食欲やうんちの状態など",
                              class:"form-control input",
                              id: "textArea" %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="row submit form">
        <div class="mx-auto">
          <%= form.submit "送信", class:"btn btn-success" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
