<div class="admins-top">
  <div class="admins-top--contact">
    <%= render partial:"components/admins-stats/admins-stats",
               locals:{
                 icon:"mail.png",
                 item: "問い合わせ",
                 count: Contact.count,
                 extra_data: "未対応の問い合わせ：#{Contact.where(resolved: false).count}",
                 path: admins_contacts_path
               }
     %>
  </div>
  <div class="admins-top--stats">
    <div class="admins-top--stats-item">
      <%= render partial: "components/admins-stats/admins-stats",
                 locals:{
                   icon: "user.jpg",
                   item: "ユーザー",
                   count: User.count,
                   extra_data: "無効なユーザー：#{User.where(activated: false).count}",
                   path: admins_users_path
                 }
      %>
    </div>
    <div class="admins-top--stats-item">
      <%= render partial: "components/admins-stats/admins-stats",
                 locals:{
                   icon: "ferret.png",
                   item: "フェレット",
                   count: Ferret.count,
                   extra_data: "",
                   path: admins_ferrets_path
                 }
      %>
    </div>
    <div class="admins-top--stats-item">
      <%= render partial: "components/admins-stats/admins-stats",
                 locals:{
                   icon: "report.png",
                   item: "投稿",
                   count: Post.count,
                   extra_data: "総いいね数：#{Like.count}",
                   path: admins_posts_path
                 }
      %>
    </div>
    <div class="admins-top--stats-item">
      <%= render partial: "components/admins-stats/admins-stats",
                 locals:{
                   icon: "request.png",
                   item: "お世話数",
                   count: Contract.count,
                   extra_data: "",
                   path: admins_contracts_path
                 }
      %>
    </div>
  </div>
</div>
