<footer>
  <div class="footer container">
    <div class="footer--content">
      <div class="footer--left col-md-6 row">
        <div class="footer--links col-md-6">
          <ul>
            <li><a href="#">PONとは？</a></li>
            <li><a href="#">Q&A</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">運営会社</a></li>
          </ul>
        </div>
        <div class="footer--sitemap col-md-6">
          <ul>
            <% if logged_in? %>
              <li><%= link_to "マイフェレット", my_ferrets_path %></li>
              <li><%= link_to "ユーザー一覧", users_path %></li>
              <li><%= link_to "メッセージ一覧", my_rooms_path %></li>
              <li><a href="#">ヘルプ</a></li>
              <li><%= link_to "通知一覧", my_notifications_path %></li>
              <li><%= link_to "マイエリア", my_territory_path %></li>
              <li><%= link_to "各種設定", my_settings_path %></li>
              <li><%= link_to "マイページ", my_page_path %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_path %></li>
              <li><%= link_to "ログイン", login_path %></li>
              <li><%= link_to "ユーザー一覧", users_path %></li>
              <li><%= link_to "フェレット一覧", ferrets_path %></li>
              <li><%= link_to "投稿一覧", posts_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="footer--right col-md-6">
        <div class="footer--company">
          <h5>株式会社PON</h5>
          <p>神奈川県川崎市●●●区●●●</p>
        </div>
      </div>
    </div>
    <div class="footer--bottom">
      COPYRITHT XXXXXXXXXXXXXXXXXXXXX
    </div>
  </div>
</footer>
