<div class="my-rooms">
  <% rooms.each do |room| %>
    <div class="my-rooms--room">
      <div class="my-rooms--opponent-info">
        <%= link_to user_path(room.opponent(current_user)) do %>
          <div class="my-rooms--opponent--icon">
            <% if room.opponent(current_user).image.attached? %>
              <%= image_tag room.opponent(current_user).image, size: "80x80", class:"image-icon" %>
            <% else %>
              <%= image_tag "/images/no_image.jpg", size:"80x80", class:"image-icon" %>
            <% end %>
          </div>
          <div class="my-rooms--opponent-name">
            <%= room.opponent(current_user).name %>
          </div>
        <% end %>
      </div>
      <div class="my-rooms--content">
        <%= link_to room_path(room) do %>
          <p><%= room.messages.last.content %></p>
        <% end %>
      </div>
      <div class="my-rooms--date">
        <%= display_time(room.messages.last.created_at) %>
      </div>
    </div>
  <% end %>
</div>
