<div class="my-ferrets col-md-8 offset-md-2">
  <% if ferrets.blank? %>
    <div class="my-ferrets--notice">
      <p>まだフェレットが登録されていません。</p>
    </div>
    <div class="my-ferrets--link">
      <%= link_to "フェレットを登録しよう！", new_ferret_path, class: "link-btn" %>
    </div>
  <% else %>
    <% ferrets.each do |ferret| %>
      <div class="my-ferret">
        <div class="my-ferret--icon">
          <%= link_to image_tag(ferret.image, size:"100x100", class:"image-icon") %>
        </div>
        <div class="my-ferret--info">
          <p class="my-ferret--name"><%= ferret.name %></p>
          <p class="my-ferret--details">
            <%= ferret.character %>
            <span>|</span>
            <%= display_gender(ferret) %>
            <span>|</span>
            <%= display_age(ferret) %>
          </p>
        </div>
        <div class="my-ferret-actions">
          <div class="my-ferret--edit">
            <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(ferret)  %>
          </div>
          <div class="my-ferret--delete">
            <%= render "components/delete-btn/delete-btn", path: ferret_path(ferret)  %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
