<div class="u-show">
  <% if current_user?(user) %>
    <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(user)  %>
  <% end %>

  <div class="u-show--top">
    <%= render "components/show/show", object: user %>
  </div>
  <!-- フォローボタン -->
  <% if logged_in? %>
    <%= render "components/follow-btn/follow-btn", user: user %>
  <% end %>

  <div class="u-show--family">
    <h5>家族</h5>
    <div class="u-show--family-members">
      <% user.ferrets.each do |ferret| %>
        <div class="u-show--family-icon">
          <%= link_to ferret_path(ferret) do %>
            <%=
            render partial: "components/img-icon/img-icon",
                   locals: {path: ferret.image, size: "100x100"}
            %>
            <p><%= display_name(ferret) %></p>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
