<div class="u-show container">
  <div class="u-show--top">
    <%= render "components/show/show", object: user %>
  </div>
  <!-- フォローボタン -->
  <% if logged_in? %>
    <%= render "components/follow-btn/follow-btn", user: user %>
  <% end %>

  <div class="row u-show--family">
    <% user.ferrets.each do |ferret| %>
      <%= link_to ferret_path(ferret) do %>
        <%=
        render partial: "components/img-icon/img-icon",
               locals: {path: ferret.image, size: "100x100"}
        %>
        <p><%= display_name(ferret) %></p>
      <% end %>
    <% end %>
  </div>
</div>
