<div class="ferret-form">
  <div class="row">
    <div class="col-md-8  offset-md-2">
      <p class="warning"><span class="asterisk">＊</span>：必須項目</p>
      <%= render "components/error-messages/error-messages", object: ferret %>
    </div>
  </div>

  <div class="col-md-8 offset-md-2">
    <%= form_with model: ferret, local: true do |form| %>

      <div class="ferret-form--group form-row">
        <div class="form col-md-12">
          <div class="img-label">
            <%= form.label :画像, class:"label" %>
            <span class="asterisk">＊</span>
          </div>
          <div class="img-form">
            <%= render partial:"components/img-uploader/img-uploader",
                       locals: {form: form, object: ferret}
            %>
          </div>
        </div>
      </div>

      <div class="ferret-form--group form-row">
        <div class="form col-md-5">
          <%= form.label :なまえ, class:"label"%>
          <span class="asterisk">＊</span>
          <%= form.text_field :name, placeholder: "なまえ", class:"form-control input" %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="ferret-form--group form-row">
        <div class="form">
          <%= form.label :生年月日, class:"label" %>
          <span class="asterisk">＊</span>
          <div>
            <%= form.date_select :birth_date,
                                  {
                                    start_year: Time.current.year - 10,
                                    end_year: Time.current.year,
                                    use_month_numbers: true
                                  },
                                  {
                                    class: "form-control select"
                                  }
            %>
          </div>
        </div>
      </div>

      <div class="ferret-form--group form-row">
        <div class="form col-md-5">
          <%= form.label :性別, class:"label" %>
          <span class="asterisk">＊</span>
          <div class="gender">
            <%= form.radio_button :gender, 1, id:"male", class:"radio" %>
            <label class="col-auto gender-btn male" for="male">オス</label>
            <%= form.radio_button :gender, 2, id:"female", class:"radio" %>
            <label class="col-auto gender-btn female" for="female">メス</label>
          </div>
        </div>
      </div>

      <div class="ferret-form--group form-row">
        <div class="form col-md-12">
          <%= form.label :性格, class:"label" %>
          <span class="asterisk">＊</span>
          <%= form.text_field :character,
                              placeholder: "性格",
                              class:"form-control input"
          %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="ferret-form--group form-row">
        <div class="form col-md-12">
          <%= form.label :紹介, class:"label" %>
          <%= form.text_area :introduction,
                              placeholder: "紹介",
                              class:"form-control input textarea",
                              id: "textArea" %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="row submit form">
        <div class="mx-auto">
          <%= form.submit "入力内容を確認する", class:"btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
