<div class="post card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= link_to post_path(post) do %>
        <%= image_tag "/images/#{post.image}", class:"post--image" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="post--head">
        <div class="post--user">
          <%= link_to user_path(post.user) do %>
          <div class="post--user-info">
            <div class="post--user-icon">
              <%= image_tag "/images/#{post.user.image}", size:"50x50", class:"image-icon" %>
            </div>
            <div class="post--user-name">
              <%= display_name(post.user) %>
            </div>
          </div>
          <% end %>
        </div>

        <div class="post--like">
          <%= render "components/like/like", post: post %>
        </div>
        <div class="post--comment">
          <span>
            <i class="far fa-comments"></i>
          </span>
          <%= post.comments.count %>コメント
        </div>
      </div>


      <div class="card-body">
        <h5 class="card-title">
          <%= post.title %>
        </h5>
        <p class="card-text">
          <%= post.content %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= display_time(post.updated_at) %>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
