<% if logged_in? %>
  <div class="like" id="like_<%= post.id %>" >
    <% if post.likes?(current_user) %>
      <button type="button" name="dislike" value="<%= post.id %>" class="like-btn liked" >
        <span><i class="far fa-thumbs-up"></i></span>
        <%= post.likes.count %> いいね
      </button>
    <% else %>
      <button type="button" name="like" value="<%= post.id %>" class="like-btn" >
        <span><i class="far fa-thumbs-up"></i></span>
        <%= post.likes.count %> いいね
      </button>
    <% end %>
  </div>
<% else %>
  <li>
    <%= link_to login_path, class:"like-btn" do %>
      <div class="dislike">
        <span>
          <i class="far fa-thumbs-up"></i>
        </span>
        <%= post.likes.count %> いいね
      </div>
    <% end %>
  </li>
<% end %>
