<% if logged_in? %>
  <div class="like" id="like_<%= post.id %>" >
    <% if post.likes?(current_user) %>
      <%= link_to post_likes_path(post), data: {id: post.id} , method: :delete do %>
        <button type="button" name="dislike" class="like-btn liked">
          <span><i class="far fa-thumbs-up"></i></span>
          <%= post.likes.count %> いいね
        </button>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(post), data: {id: post.id}, method: :post do %>
        <button type="button" name="like" class="like-btn" >
          <span><i class="far fa-thumbs-up"></i></span>
          <%= post.likes.count %> いいね
        </button>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= link_to login_path, class:"like-btn" do %>
    <div class="dislike">
      <span>
        <i class="far fa-thumbs-up"></i>
      </span>
      <%= post.likes.count %> いいね
    </div>
  <% end %>
<% end %>
