<div class="settings col-md-8 offset-md-2">
  <div class="settings--setting">
    <%= link_to edit_user_path(current_user), class:"settings--user-edit" do %>
      <i class="fas fa-chevron-circle-right"></i> ユーザー情報の編集
    <% end %>
  </div>
  <div class="settings--setting">
    <%= link_to new_ferret_path, class:"settings--ferret-new" do %>
      <i class="fas fa-chevron-circle-right"></i> フェレットの登録
    <% end %>
  </div>
  <div class="settings--setting">
    <%= link_to my_ferrets_path, class:"settings--ferret-edit" do %>
      <i class="fas fa-chevron-circle-right"></i> フェレット情報の編集
    <% end %>
  </div>
  <div class="settings--setting">
    <%= link_to my_territory_path, class:"settings--territory" do %>
      <i class="fas fa-chevron-circle-right"></i> エリアの設定
    <% end %>
  </div>
  <div class="settings--setting">
    <%= link_to new_post_path, class:"settings--post" do %>
      <i class="fas fa-chevron-circle-right"></i> 新しい投稿
    <% end %>
  </div>
</div>
