<div class="top">
  <!-- <div class="top--navi">
    <ul>
      <li class="navi-1">PON</li>
      <li class="navi-2">About</li>
      <li class="navi-3">Steps</li>
      <li class="navi-4">Something</li>
    </ul>
  </div> -->
  <div class="row top--item">
    <%= render "components/catch/catch" %>
  </div>

  <%= render "components/colorful-border/colorful-border" %>

  <div class="row top--item">
    <%= render "components/description/description" %>
  </div>

  <%= render "components/colorful-border/colorful-border" %>

  <div class="row top--item">
    <%= render "components/step/step" %>
  </div>
</div>
