<div class="posts">
  <div class="posts--top-wrapper">
    <div class="container">
      <div class="posts--nav">
        <%= link_to "全て", posts_path, class:"posts--nav-link" %>
        <%= link_to "なわばり", territory_posts_path, class:"posts--nav-link" %>
        <%= link_to "フォロー", followings_posts_path, class:"posts--nav-link" %>
        <div class="posts--search">
          <%= form_with url: search_posts_path,
                        enforce_utf8: false,
                        method: 'get',
                        class: "posts--search-form",
                        local: true do |form| %>
            <%= form.text_field :search, placeholder:"検索", class:"posts--search-input" %>
            <%= button_tag type: 'submit', class:'posts--search-btn' do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="posts--main">
    <div class="container">
      <%= render partial: "components/post-overview/post-overview",
                 collection: posts, as: "post" %>
    </div>
  </div>
</div>
