<div class="f-show">
  <div class="f-show--top">
    <%= render "components/show/show", object: ferret %>
  </div>

  <div class="f-show--character">
      <h5>性格</h5>
      <p><%= ferret.character %></p>
  </div>

  <div class="f-show--family">
    <div class="f-show--owner">
      <h5>親</h5>
      <div class="f-show--owner-icon">
        <%= link_to user_path(ferret.user_id) do %>
          <%=
          render partial: "components/img-icon/img-icon",
                 locals: {
                   path: ferret.user.image,
                   size: "100x100"
                 }
          %>
          <p><%= display_name(ferret.user) %></p>
        <% end %>
      </div>
    </div>
    <div class="f-show--siblings">
      <h5>兄弟・姉妹</h5>
      <div class="f-show--sibling">
        <% siblings.each do |s| %>
        <div class="f-show--sibling-icon">
          <%= link_to ferret_path(s) do %>
            <%=
            render partial: "components/img-icon/img-icon",
                   locals: {
                     path: s.image,
                     size: "100x100"
                   }
            %>
            <p><%= display_name(s) %></p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row show--post">
    <p>TO BE CREATED</p>
  </div>
</div>
