<%= link_to path do %>
  <div class="admins-stats">
    <div class="admins-stats--icon">
      <%= image_tag "/images/#{icon}", class:"" %>
    </div>
    <div class="admins-stats--data">
      <div class="admins-stats--data-item">
        <p><%= item %></p>
      </div>
      <div class="admins-stats--data-count">
        <%= count %>
      </div>
    </div>
    <div class="admins-stats--extra-data">
      <% if item == "問い合わせ" %>
        <div class="admins-stats--unchecked-contact">
          <p><%= extra_data %></p>
        </div>
      <% else %>
        <div class="admins-stats--extra-data-content">
          <small><%= extra_data %></small>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
