<div class="request">
  <div class="col-md-8 offset-2 request--content">
    <div class="request--user request-row">
      <h5>飼い主</h5>
      <div class="request--list">
        <div class="request--user-image">
          <%= link_to image_tag(request.owner.image, size:"100x100", class:"image-icon"), user_path(request.owner) %>
        </div>
        <div class="request--user-info">
          <div class="request--user-name">
            <p><%= display_name(request.owner) %></p>
          </div>
          <div class="request--user-details">
            <p>
              <%= display_basic_info(request.owner) %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="request--sitter request-row">
      <h5>お世話係</h5>
      <div class="request--list">
        <div class="request--user-image">
          <%= link_to image_tag(request.sitter.image, size:"100x100", class:"image-icon"), user_path(request.sitter) %>
        </div>
        <div class="request--user-info">
          <div class="request--user-name">
            <p><%= display_name(request.sitter) %></p>
          </div>
          <div class="request--user-details">
            <p>
              <%= display_basic_info(request.sitter) %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="request--ferret request-row">
      <h5>フェレット</h5>
      <% request.owner.ferrets.each do |ferret| %>
      <div class="request--list">
        <div class="request--ferret-image">
          <%= link_to image_tag(ferret.image, size:"100x100", class:"image-icon"), ferret_path(ferret) %>
        </div>
        <div class="request--ferret-info">
          <div class="request--ferret-name">
            <p><%= display_name(ferret) %></p>
          </div>
          <div class="request--ferret-character">
            <p>
              <%= ferret.character %>
              <span>|</span>
              <%= display_gender(ferret) %>
              <span>|</span>
              <%= display_age(ferret) %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="request--period request-row">
      <h5>期間</h5>
      <p><%= display_period(request) %></p>
    </div>

    <div class="request--fee request-row">
      <h5>謝礼</h5>
      <p>総額：<%= request.fee %>円</p>
    </div>

    <div class="request--memo request-row">
      <h5>メモ</h5>
      <p><%= request.memo %></p>
    </div>

    <div class="request--actions request-row">
      <% if current_user == request.owner %>
        <div class="request--edit">
          <%= render "components/edit-btn/edit-btn", path: edit_request_path(request) %>
        </div>
        <div class="request--delete">
          <%= render partial: "components/delete-btn/delete-btn", locals: {path: request_path(request)} %>
        </div>
      <% elsif current_user == request.sitter %>
        <div class="request--accept">
          <%= link_to request_contracts_path(request), method: :post do %>
            <button><span><i class="far fa-check-circle"></i></span>承認</button>
          <% end %>
        </div>
        <div class="request--reject">
          <%= link_to root_path, method: :destroy do %>
            <button><span><i class="fas fa-ban"></i></span>否認</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
