<div class="user col-md-8 offset-md-2">
  <div class="user--top">
    <div class="user--actions">
      <% if current_user?(user) %>
        <div class="user--edit">
          <%= render "components/edit-btn/edit-btn", path: edit_user_path(user)  %>
        </div>
      <% else %>
        <% if logged_in? %>
          <div class="user--follow">
            <%= render "components/follow/follow", user: user %>
          </div>
        <% end %>
      <% end %>
      <div class="user-follow-stats">
        <%= render "components/follow-stats/follow-stats", user: user %>
      </div>
      <div class="user--message">
        <%= link_to "メッセージを送る", rooms_path(guest_id: user.id), method: :post, class:"link-btn" %>
      </div>
    </div>
    <%= render "components/show-top/show-top", object: user %>
  </div>

  <div class="user--family">
    <h5>家族</h5>
    <div class="user--family-members">
      <% if user.ferrets.empty? %>
        <p>フェレットは登録されていません。</p>
      <% else %>
        <% user.ferrets.each do |ferret| %>
          <div class="user--family-icon">
            <%= link_to ferret_path(ferret) do %>
              <% if ferret.image.attached? %>
                <%= image_tag ferret.image, size:"80x80", class:"image-icon" %>
              <% else %>
                <%= image_tag "/images/no_image.jpg", size:"80x80", class:"image-icon" %>
              <% end %>
              <p class="user--family-name">
                <%= display_name(ferret) %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="user--posts">
  <div class="col-md-8 offset-md-2">
    <h5>投稿</h5>
  </div>
  <%= render partial:"components/post-overview/post-overview",
             collection: user.posts, as: "post" %>
</div>
