<div class="user">
  <div class="col-md-8 offset-md-2">
    <div class="user--top">
      <div class="user--image">
        <% if user.image.attached? %>
          <%= image_tag user.image, size:"350x350", class:"image-square" %>
        <% else %>
          <%= image_tag "/images/no_image.jpg", size:"350x350", class:"image-square" %>
        <% end %>
      </div>
      <div class="user--actions">
        <% if current_user?(user) %>
          <div class="user--edit">
            <%= render "components/edit-btn/edit-btn", path: edit_user_path(user)  %>
          </div>
        <% else %>
          <% if logged_in? %>
            <div class="user--message">
              <%= link_to "メッセージを送る", rooms_path(guest_id: user.id), method: :post, class:"link-btn" %>
            </div>
            <div class="user--follow">
              <%= render "components/follow/follow", user: user %>
            </div>
          <% end %>
        <% end %>
        <div class="user-follow-stats">
          <%= render "components/follow-stats/follow-stats", user: user %>
        </div>
      </div>
    </div>

    <div class="user--info">
      <div class="user--name">
        <h2><%= user.name %></h2>
      </div>
      <div class="user--info-items">
        <%= display_basic_info(user) %>
      </div>
    </div>

    <div class="user--introduction">
      <h5>自己紹介</h5>
      <p><%= user.introduction %></p>
    </div>

    <div class="user--family">
      <h5>家族</h5>
      <div class="user--ferrets">
        <% if user.ferrets.empty? %>
          <p>フェレットは登録されていません。</p>
        <% else %>
          <% user.ferrets.each do |ferret| %>
            <div class="user--ferret-icon">
              <%= link_to ferret_path(ferret) do %>
                <% if ferret.image.attached? %>
                  <%= image_tag ferret.image, size:"100x100", class:"image-icon" %>
                <% else %>
                  <%= image_tag "/images/no_image.jpg", size:"100x100", class:"image-icon" %>
                <% end %>
                <p class="user--ferret-name">
                  <%= ferret.name %>
                </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="user--records">
      <h5>お世話の履歴</h5>
      <% if user.has_contracts_as_sitter? %>
        <div class="user--review">
          <div id="averageStar" data-score="<%= user.average_rate %>"></div>
        </div>
        <% user.contracts_as_sitter.each.with_index(1) do |contract, i| %>
          <div class="user--record">
            <p>お世話記録その<%= i %></p>
            <p class="user--period">期間：<%= display_period(contract) %></p>
            <p>お世話したフェレット</p>
            <div class="user--ferrets">
              <% contract.owner.ferrets.each do |ferret| %>
                <div class="user--ferret-icon">
                  <%= link_to ferret_path(ferret) do %>
                    <% if ferret.image.attached? %>
                      <%= image_tag ferret.image, size:"100x100", class:"image-icon" %>
                    <% else %>
                      <%= image_tag "/images/no_image.jpg", size:"100x100", class:"image-icon" %>
                    <% end %>
                    <p class="user--ferret-name">
                      <%= ferret.name %>
                    </p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>まだお世話の履歴はありません。</p>
      <% end %>
    </div>
  </div>

  <div class="user--posts">
    <div class="col-md-8 offset-md-2">
      <h5>投稿</h5>
    </div>
    <%= render partial:"components/post-overview/post-overview",
               collection: user.posts, as: "post" %>
  </div>
</div>
