<!-- ユーザー編集ボタン -->
<% if current_user?(user) %>
  <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(user)  %>
<% end %>

<!-- フォローボタン -->
<div class="u-show--follow">
  <% if logged_in? %>
    <%= render "components/follow/follow", user: user %>
  <% end %>
</div>


<div class="u-show col-md-8 offset-md-2">
  <div class="u-show--top">
    <%= render "components/show-top/show-top", object: user %>
  </div>

  <div class="u-show--family">
    <h5>家族</h5>
    <div class="u-show--family-members">
      <% if user.ferrets.empty? %>
        <p>現在はフェレットを飼っていません。</p>
      <% else %>
        <% user.ferrets.each do |ferret| %>
          <div class="u-show--family-icon">
            <%= link_to ferret_path(ferret) do %>
              <%= image_tag "/images/#{ferret.image}", size:"80x80", class:"image-icon" %>
              <p class="u-show--family-name">
                <%= display_name(ferret) %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
