<!-- ユーザー編集ボタン -->
<% if current_user?(user) %>
  <%= render "components/edit-btn/edit-btn", path: edit_ferret_path(user)  %>
<% end %>

<!-- フォローボタン -->
<div class="user--follow">
  <div class="user--follow-btn">
    <% if logged_in? %>
      <%= render "components/follow/follow", user: user %>
    <% end %>
  </div>
  <div class="user-follow-stats">
    <%= render "components/follow-stats/follow-stats", user: user %>
  </div>
</div>

<div class="user--room">
  <%= link_to "メッセージを送る", rooms_path(guest_id: user.id), method: :post %>
</div>


<div class="user col-md-8 offset-md-2">
  <div class="user--top">
    <%= render "components/show-top/show-top", object: user %>
  </div>

  <div class="user--family">
    <h5>家族</h5>
    <div class="user--family-members">
      <% if user.ferrets.empty? %>
        <p>現在はフェレットを飼っていません。</p>
      <% else %>
        <% user.ferrets.each do |ferret| %>
          <div class="user--family-icon">
            <%= link_to ferret_path(ferret) do %>
              <%= image_tag "/images/#{ferret.image}", size:"80x80", class:"image-icon" %>
              <p class="user--family-name">
                <%= display_name(ferret) %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="user--posts">
  <div class="col-md-8 offset-md-2">
    <h5>投稿</h5>
  </div>
  <%= render partial:"components/post-overview/post-overview",
             collection: user.posts, as: "post" %>
</div>
