<div class="contact-form">
  <div class="row">
    <div class="col-md-8  offset-md-2">
      <p class="warning"><span class="asterisk">＊</span>：必須項目</p>
      <%= render "components/error-messages/error-messages", object: contact %>
    </div>
  </div>

  <div class="col-md-8 offset-md-2">
    <%= form_with model: contact, local: true do |form| %>

      <div class="contact-form--group form-row">
        <div class="form col-md-5">
          <%= form.label "メールアドレス", class:"label" %>
          <span class="asterisk">＊</span>
          <% if logged_in? %>
            <%= form.email_field :email, value: current_user.email, readonly: true, class:"form-control input" %>
          <% else %>
            <%= form.email_field :email, placeholder: "メールアドレス", class:"form-control input" %>
          <% end %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="contact-form--group form-row">
        <div class="form col-md-5">
          <%= form.label "お問い合わせの種類", class:"label" %>
          <span class="asterisk">＊</span>
          <%= form.select :subject, [["当アプリのご利用方法", 1],
                                    ["会員登録・ログイン・パスワード忘れ", 2],
                                    ["その他", 3]],
                                    class:"form-control input" %>
        </div>
      </div>

      <div class="contact-form--group form-row">
        <div class="form col-md-12">
          <%= form.label "お問い合わせ内容", class:"label" %>
          <span class="asterisk">＊</span>
          <%= form.text_area :content,
                              placeholder: "お問い合わせ内容をご入力下さい。",
                              class:"form-control input textarea",
                              id: "textArea" %>
          <span class="bar"></span>
        </div>
      </div>

      <div class="row submit form">
        <div class="mx-auto">
          <%= form.submit "送信", class:"btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
