<div class="comment">
    <div class="commnet--head">
      <div class="commnet--user-icon">
        <%= image_tag "/images/#{comment.user.image}", size:"50x50", class:"image-icon" %>
      </div>
      <div class="comment--info">
        <div class="commnet--user-name">
          <%= display_name(comment.user) %>
        </div>
        <div class="comment--time">
          <small class="text-muted">
            <%= comment.updated_at %>
          </small>
        </div>
      </div>
      <% if current_user?(comment.user) %>
        <div class="comment--config">
          <%= render "components/edit-btn/edit-btn", path: edit_comment_path(comment)  %>
          <%= render "components/delete-btn/delete-btn", path: comment_path(comment)  %>
        </div>
      <% end %>
    </div>
    <div class="comment--content">
      <p>
        <%= comment.content %>
        <!-- 編集されたコメントはその事実を明示する -->
        <% unless comment.created_at == comment.updated_at %>
          <small class="text-muted">
            <%= "編集済み" %>
          </small>
        <% end %>
      </p>
    </div>
</div>
