<header>
  <div class="header container">
    <div class="header-left">
      <%= link_to root_path do %>
        <div class="header--logo">
          <%= image_tag "/images/logo.png", size:"180x50" %>
        </div>
      <% end %>
    </div>
    <div class="header-right">
      <div class="header--toolbar">
        <div class="header--tool">
          <i class="material-icons header--pets">pets</i>
        </div>
        <div class="header--tool">
          <i class="material-icons header--search">search</i>
        </div>
        <div class="header--tool">
          <%= link_to rooms_user_path(current_user) do %>
            <i class="material-icons header--message">mail_outline</i>
          <% end %>
        </div>
        <div class="header--tool">
          <i class="material-icons header--timeline">schedule</i>
        </div>
        <div class="header--tool">
          <i class="material-icons header--nawabari">place</i>
        </div>
        <div class="header--tool">
          <i class="material-icons header--help">help_outline</i>
        </div>
        <div class="header--tool">
            <i class="material-icons header--settings">settings</i>
        </div>
        <% if current_user.nil? %>
          <div class="header--tool">
            <!-- link_to "LINE Login", user_line_omniauth_authorize_path -->
            <%= link_to login_path do %>
              <i class="material-icons header--login">account_circle</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to new_user_path do %>
              <i class="material-icons header--signup">person_add</i>
            <% end %>
          </div>
        <% else %>
          <div class="header--tool">
            <%= link_to logout_path, method: :delete do %>
              <i class="material-icons header--logout">exit_to_app</i>
            <% end %>
          </div>
          <div class="header--tool header--user-icon">
            <%= link_to user_path(current_user) do %>
              <%= image_tag "/images/#{current_user.image}", size:"50x50", class:"image-icon" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "components/colorful-border/colorful-border" %>
</header>
