<header>
  <div class="header container">
    <div class="header-left">
      <div class="header--logo">
        <% if logged_in? %>
          <%= link_to image_tag("/images/logo.png", size:"180x50"), ferrets_path %>
        <% else %>
          <%= link_to image_tag("/images/logo.png", size:"180x50"), root_path %>
        <% end %>
      </div>
    </div>
    <div class="header-right">
      <div class="header--toolbar">
        <% if logged_in? %>
          <div class="header--tool">
            <%= link_to my_ferrets_path do %>
              <i class="material-icons header--pets">pets</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to users_path do %>
              <i class="material-icons header--search">search</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to my_rooms_path do %>
              <i class="material-icons header--message">mail_outline</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to my_notifications_path do %>
              <i class="material-icons header--timeline">schedule</i>
              <% if unread_notifications.any? %>
                <i class="fas fa-circle header--noticications-circle"></i>
              <% end %>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to my_territory_path do %>
              <i class="material-icons header--territory">place</i>
            <% end %>
          </div>
          <div class="header--tool">
            <i class="material-icons header--help">help_outline</i>
          </div>
          <div class="header--tool">
            <%= link_to my_settings_path do %>
              <i class="material-icons header--settings">settings</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to new_post_path do %>
              <i class="material-icons header--logout">note_add</i>
            <% end %>
          </div>
          <div class="header--tool header--user-icon">
            <%= link_to my_page_path do %>
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image, size:"50x50", class:"image-icon" %>
              <% else %>
                <%= image_tag "/images/no_image.jpg", size:"50x50", class:"image-icon" %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="header--tool">
            <%= link_to ferrets_path do %>
              <i class="material-icons header--pets">pets</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to user_path do %>
              <i class="material-icons header--search">search</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to login_path do %>
              <i class="material-icons header--message">mail_outline</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to login_path do %>
              <i class="material-icons header--timeline">schedule</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to login_path do %>
              <i class="material-icons header--territory">place</i>
            <% end %>
          </div>
          <div class="header--tool">
            <i class="material-icons header--help">help_outline</i>
          </div>
          <div class="header--tool">
            <%= link_to login_path do %>
              <i class="material-icons header--settings">settings</i>
            <% end %>
          </div>
          <div class="header--tool">
            <!-- link_to "LINE Login", user_line_omniauth_authorize_path -->
            <%= link_to login_path do %>
              <i class="material-icons header--login">account_circle</i>
            <% end %>
          </div>
          <div class="header--tool">
            <%= link_to new_user_path do %>
              <i class="material-icons header--signup">person_add</i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "components/colorful-border/colorful-border" %>
</header>
<div class="header--padding"></div>
