<div class="container">
  <div class="post-detail--top">
    <%= render "components/post/post", post: post %>
  </div>
  <!-- いいね機能 -->
   <div class="post-detail--like">
     <%= render "components/like/like", post: post %>
   </div>
  <!-- コメントを以下するボタン。ボタンを押すと表示されるようにしたい。 -->
  <div class="post-detail--comment-form">
    <%= form_with url: comments_path, model: comment do |form| %>
      <%= form.text_field :content, placeholder: "コメント" %>
      <%= form.submit "コメントする" %>
    <% end %>
  </div>
  <!-- コメント一覧 -->
  <div class="post-detail--comments">
    <%= render "components/comments/comments", comments: comments %>
  </div>
</div>
