<div class="show">
  <div class="row">
    <div class="show--image">
      <% if object.image.attached? %>
        <%= image_tag object.image, size:"200x200", class:"image-icon" %>
      <% else %>
        <%= image_tag "/images/no_image.jpg", size:"200x200", class:"image-icon" %>
      <% end %>
    </div>
  </div>

  <div class="show--info">
    <div class="row show--name">
      <h2><%= display_name(object) %></h2>
    </div>
    <div class="row show--info-items">
      <p>
        <%= display_address(object) %>
        <span>|</span>
        <%= display_gender(object) %>
        <span>|</span>
        <%= display_age(object) %>
      </p>
    </div>
  </div>

  <div class="show--introduction">
    <p><%= object.introduction %></p>
  </div>
</div>
