<div class="post-form">
  <div class="row">
    <div class="col-md-8  offset-md-2">
      <p class="warning"><span class="asterisk">＊</span>：必須項目</p>
      <%= render "components/error-messages/error-messages", object: post %>
    </div>
  </div>

  <div class="col-md-8 offset-md-2">
    <%= form_with url:posts_path, model: post, local: true do |form| %>
      <div class="post-form--group form-row">
        <div class="form col-md-12">
          <div class="img-label">
            <%= form.label :画像, class:"label" %>
            <span class="asterisk">＊</span>
          </div>
          <div class="img-form">
            <%= render partial:"components/img-uploader/img-uploader",
                       locals: {form: form, object: post}
            %>
          </div>
        </div>
      </div>
      <div class="post-form--group form-row">
        <div class="form col-md-12">
          <%= form.label :内容, class:"label" %>
          <%= form.text_area :content,
                              placeholder: "投稿の内容",
                              class:"form-control input",
                              id: "textArea" %>
          <span class="bar"></span>
        </div>
      </div>
      <div class="row submit form">
        <div class="mx-auto">
          <%= form.submit "送信", class:"btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
